<div style="width:30%; border:1px black solid; padding:5px">
    <MentorBilling.Invoice.Pages.Seller InstanceController="@InstanceController" 
                                        PageController="@(InstanceController.InvoiceController.SellerController)" />
</div>