@inject IJSRuntime jsRuntime

@using BlazorInputFile

<!--The page will be linked to the LogoBase-->
@if (PageController.LogoBase == null || PageController.LogoBase.Length < 1)
{
    <!--If we have no LogoBase we will use the Drag-Drop-Zone-->
    <div class="drag-drop-zone" style="width:100%">
        <InputFile OnChange="SelectLogo" id="inputFile" />
        @Status
    </div>
}
else
{
    <div style="padding: 2rem; display: flex; align-items: center; justify-content: center; font-size: 1rem;">
        <!--Else we will display the image src-->
        <img src="@PageController.Logo" height="@(ImageDimensions.Height)" width="@(ImageDimensions.Width)" @onclick="ResetSelected" />
    </div>
    
}