<div>
    <h2>
        Atentie contul nu are o subscriptie valida.
        <br />
        Pentru a putea folosi in continuare programul va rog alegeti o subscriptie.
        <button class=""></button>
    </h2>
</div>

@code {

}
