@inherits LayoutComponentBase
@using Messages
@inject MessageDisplaySettings MessageDisplaySettings

@if (MessageDisplaySettings.MessageWaiting)
{
    <div id="dark_cover"></div>
    <div class="overlay">
        @switch (MessageDisplaySettings.CurrentError)
        {
            case Messages.MessageDisplay.MessageTypes.DatabaseError:
                    <MentorBilling.Messages.DatabaseConnectionError />
                    break;
            }
    </div>
}

@if (Settings.UserSettings.UserState == Miscellaneous.UserState.UserStates.loggingIn)
{
    <div class="sidebar">
        <NavMenu />
    </div>
}

<div class="main">
    <div class="top-row px-4">
        <MentorBilling.Shared.LoginDisplay.LoginDisplay/>
        <a href="http://www.mentorsoft.ro/" style="color:snow" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
