@inherits LayoutComponentBase

@if (Settings.UserSettings.UserState == Miscellaneous.UserState.UserStates.loggingIn) 
{
    <div class="sidebar">
        <NavMenu />
    </div>
}


<div class="main">
    <div class="top-row px-4">
        <MentorBilling.Login.LoginDisplay />
        <a href="http://www.mentorsoft.ro/" style="color:snow" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
