@page "/validateAccount"
@page "/validateAccount/{account}"

@if (ErrorMessage)
{
    <div id="dark_cover">
        <div class="overlay">
            <MentorBilling.Messages.Pages.DatabaseConnectionError/>
        </div>
    </div>
}

<div>
    <p>
        Buna ziua @(User.DisplayName),
    </p>
    <p>
        Va multumim ca v-ati activat contul Mentor si va dorim o zi buna in continuare.
    </p>
</div>
