@page "/validateAccount/{AccountID}"

@inject MentorBilling.Messages.MessageDisplaySettings MessageDisplaySettings 

<div>
    <p>
        Buna ziua @(User.DisplayName),
    </p>
    <p>
        Va multumim ca v-ati activat contul Mentor si va dorim o zi buna in continuare.
    </p>
</div>
