<div class="tooltip-wrapper">
    <span>@Text</span>
    @ChildContent
</div>

@code {
    /// <summary>
    /// the child parameter RenderFragmet
    /// </summary>
    [Parameter] public RenderFragment ChildContent { get; set; }
    /// <summary>
    /// the tooltip dispaly value
    /// </summary>
    [Parameter] public String Text { get; set; }
}
