@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

<div>
    <!--The Main Switch Controller-->
    @switch (InstanceController.LoginDisplayController.UserState)
    {
        case Miscellaneous.UserState.UserStates.loggingIn:
            <!--In case the user is Logging In-->
            <div>
                <label>...</label>
            </div>
            break;
        case Miscellaneous.UserState.UserStates.loggedIn:
            <!--In case the user aslready is logged in-->
            <!--We Display the Welcome Message for now-->
            <!--
            <div>
                <label style="color:white; margin:10px">Bine ati venit @(InstanceController.UserSettings.LoggedInUser.DisplayName)</label>
            </div>
            -->
            <MentorBilling.Login.Pages.UserMenu InstanceController="InstanceController"></MentorBilling.Login.Pages.UserMenu>
            break;
        case Miscellaneous.UserState.UserStates.loggedOut:
            <!--In case the user isn't logged in-->
            <div>
                <!--The Login Button-->
                <button class="btn-primary-login" @onclick="LoginClick">Login</button>
                <!--The Register Button-->
                <button class="btn-primary-login" @onclick="RegisterClick">Register</button>
            </div>
            break;
    }
</div>