@inject NavigationManager Navigation

<div>
    @switch (Settings.UserSettings.UserState)
        {
            case Miscellaneous.UserState.UserStates.loggingIn:
                <div>
                    <label>...</label>
                </div>
                break;
            case Miscellaneous.UserState.UserStates.loggedIn:
                <div>
                    <label>Bine ati venit @Settings.UserSettings.LoggedInUser.DisplayName</label>
                </div>
                break;
            case Miscellaneous.UserState.UserStates.loggedOut:
                <div>
                    <button class="btn-primary-login">Login</button>
                    <button class="btn-primary-login">Register</button>
                </div>
                break;
        }
</div>