@switch (InstanceController.DisplaySettings.PageComponents)
{
    case ComponentDisplay.Components.login:
        {
            <div class="center-screen">
                <MentorBilling.Login.Pages.Login InstanceController="@InstanceController"/>
            </div>
            break;
        }
    case ComponentDisplay.Components.register:
        {
            <div class="center-screen">
                <MentorBilling.Login.Pages.Register InstanceController="@InstanceController" />
            </div>
            break;
        }
    case ComponentDisplay.Components.passwordLost:
        {
            <div class="center-screen">
                <MentorBilling.Login.Pages.PasswordLost InstanceController="@InstanceController"/>
            </div>
            break;
        }
    default:
        {
            break;
        }
}
