/*#region error button*/
.btn-primary-mentor-local-error[b-k0c1ug3rrx] {
    color: #fff;
    background-color: #1b6ec2;
    border-style: double;
    border-color: snow;
    border-radius: 15px 50px;
    padding: 5px 35px;
    margin: 10px;
    outline: none;
}

    .btn-primary-mentor-local-error:hover[b-k0c1ug3rrx] {
        color: #fff;
        outline: none;
    }

    .btn-primary-mentor-local-error:focus[b-k0c1ug3rrx] {
        outline: none;
        border-radius: 15px 50px;
        border-color: snow;
        background-color: orange;
    }
/*#endregion*/
